html {
    background-color: #FFE3CA;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading-color {
 color: #9C836A;
}

.border-color {
    border: solid;
    border-color: #B59376;
    border-radius: 7px;
}

.border-radius-5 {
    border-radius: 5px;
}

.horse-label-background {
    background-color: #9C836A;
}

.font-white-color {
    color: #FFFBF8;
}

.horse-background {
    background-color: #FFFBF8;
}

.font-coffee-color {
    color: #9C836A;
}

.text-base {
    font-size: 1.5rem;
}

.text-center {
    text-align: center;
}

.horse-padding {
    padding: 0.25rem 1rem 0.25rem 1rem;
}

.horse-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
}

.competitor-label-padding {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.flex {
    display: flex;
}

.flex-stretch{
    align-items: stretch;
}

.between {
    justify-content: space-between;
}

.w-85 {
    width: 85%;
}

.h-50 {
    height: 50%;
}

.raceList {
    margin-bottom: 1.25rem;
}

.submitBtn {
    padding: 0.4rem 1.25rem 0.4rem 1.25rem;
    background-color: #9C836A;
    color: #FFFBF8;
    font-size: 1.5rem;
    border: solid;
    border-color: #B59376;
    border-radius: 10px;
}

.result {
    width: 60%;
    height: 8rem;
    padding: 2rem;
    background-color: #FFFBF8;
    border: solid;
    border-color: #B59376;
    border-radius: 10px;
}